<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>My Jobs</title>
</head>
<body>
    <div class="container">
        <h1>New Job Record Created!</h1>
        <p>{{ newjob.getJobSummary }}</p>
        <p><a href='/'>Return to the Job List.</a></p>
    </div>
</body>
</html>
